.expense__date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    background-color: #fff;
    border-radius: 12px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;

    .expense__date__month {
        font-size: 0.75rem;
        font-weight: bold;
    }

    .expense__date__year {
        font-size: 00.75rem;
    }

    .expense__date__day {
        font-size: 1.5rem;
        font-weight: bold;
    }
}
